[user]
	email = staytimeby1964@gmail.com
[core]
	editor = emacs --no-splash
[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"
[credential]
	helper = cache --timeout=3600
